body{
	margin: 0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

/*-----Heaader--------------*/
.header4{
    display: flex;
    padding: 15px 20px  15px; 
    max-width: 1500px;
    margin: auto;
    background-color: #555;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 10000;
}
.logo1{
    padding: 3px 0 15px 10rem;
}
.navbar{
    gap: 45px;
    
}

.button1{
    width:8rem;
    font-size:15px;
    border-radius: 10px;
    color:white;
    background-color:hsla(9, 100%, 64%, 1);
    margin-left:5rem;
    transition: background 0.5s;
    font-weight: 500;
	box-shadow: 0 0 20px 0px rgba(12, 2, 2, 0.1);
}
.button1:hover{
    background-color: #555;
    transform: scale(1.1);
}
/*-------header-end---*/

/*----courses--------*/
.courses{
    margin:9rem 0 0 0;
    text-align: center;
}
.courses span {
    font-size: 28px;
    font-weight: 700px;
    margin: 0 0 0 22rem;
}
.searchbar{
  border-radius: 15px;
  padding: 2px 5px 2px 15px;
  margin: 0 0 10px 8rem;
  font-size: 20px;
}
.courses p{
    text-align:initial;
    color: #555;
}
.courses2{
    text-align: center;
}
.courses2 button{
    padding: 10px 20px 10px 20px;
    background-color:lawngreen;
}
.courses2 hr{
    margin-top: -0px;
    padding: 7px 0 0 0;
    color: lawngreen;
}


.container{
  flex-wrap: wrap;
}
.courses3{
    display: flex;
    gap: 50px;
    flex-wrap:wrap;
    
}

.course4{
    display: flex;
    gap: 50px;
    flex-wrap:wrap;
}
.activity{
    border-color:#555;
    width: 330px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
.activity img{
    border-radius: 5px;
    align-items: center;
    transition: all 1s;
}

.activity:hover img{
    transform: scale(1.1);
    border-radius: 100px;
}
.activity h5{
    padding: 40px 0 0 0;
    font-weight: bold;
}
.activity button{
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 20px;
    background-color: crimson;
    color: beige;
}
.activity button:hover{
    background-color:darkturquoise;
}

/*----fOOTER----------*/
footer{
    background-color:rgba(31, 27, 27, 0.8);
    padding: 60px 0 10px 0;
    margin-top: 40px;
  }
  footer .footer1{
    display: flex;
  }
  footer .help{
    width: 350px;
  } 
  footer .help label{
    font-size: 20px;
    letter-spacing: 1px;
    font-family:sans-serif;
  }
  footer .help p{
    letter-spacing: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0 0 0;
    color :darkgray;
    font-size: 12px;
  }
  footer .help span{
    letter-spacing: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  footer .social{
    width: 350px;
  }
  footer .social label{
    font-size: 20px;
    letter-spacing: 1px;
    font-family:sans-serif;
  }
  footer .social p{
    letter-spacing: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0 0 0;
    color :darkgray;
    font-size: 12px;
  }
  footer .social .icons{
    font-size: 23px;
    word-spacing: 15px;
    padding-left: 5px;
  }
  footer .social .icons li{
    color: #fff;
  }
  footer .newsletter{
    width: 350px;
  }
  footer .newsletter label{
    font-size: 20px;
    letter-spacing: 1px;
    font-family:sans-serif;
  }
  footer .newsletter p{
    letter-spacing: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0 0 0;
    color :darkgray;
    font-size: 12px;
  }
  
  footer .newsletter .emailbutton{
    display: flex;
    text-align: center;
  }
  footer .newsletter .emailbutton button{
    background-color: #ec774b;
    padding: 0 10px 0 10px;
    transition: 0.25;
  }
  footer .newsletter .emailbutton button:hover{
  background: #555;
  }
  
  .footerbottom{
    display: flex;
    gap: 45rem;
    color:darkgray;
    font-size: 12px;
  }
  /*end-footer----------*/